@import 'normalize.css';
:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: rgba(255, 255, 255, 0.6);
    --font-family: 'ProximaNova', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
    background-color: #424040;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    display: none;
    border-radius: 0;
    width: 4px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.342);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
}

// mobile width < 740px
@media only screen and (max-width: 740px) {
    [data-tippy-root] {
        width: 100%;
    }
}

@media only screen and (min-width: 741px) and (max-width: 1024px) {
    [data-tippy-root] {
        width: 100%;
    }
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #736666;
}

//arrows slick react

.custom-prev-arrow,
.custom-next-arrow {
    margin-top: -36px;
    position: absolute;
    z-index: 5;
    width: 20px;
    height: 26px;
    line-height: 26px;
    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;
    }
    path {
        color: #8a8a8a;
    }

    &:hover svg path {
        color: #408bea;
    }
}

.custom-prev-arrow {
    top: 0;
    right: 40px;
}

.custom-next-arrow {
    top: 0;
    right: 10px;
}

// mobile width < 740px
@media only screen and (max-width: 740px) {
    .custom-prev-arrow,
    .custom-next-arrow {
        width: 40px;
        border: 1px solid #333;
    }
    .custom-next-arrow {
        top: 12px;
    }
    .custom-prev-arrow {
        right: 55px;
        top: 12px;
    }
}

@media only screen and (max-width: 810px) {
    .slick-dots li {
        margin: 0 3px;
    }
}
