.Wrapper {
    width: 100%;
    background: rgb(42, 39, 39);
    // box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    // border-radius: 8px;
    display: flex;
    flex-wrap: wrap;

    a {
        width: 167px;
    }
}

// // mobile width < 740px
@media only screen and (max-width: 46.1875em) {
    .Wrapper {
        background-color: #333;
    }
    .Wrapper a {
        width: 50%;
    }
}
