.image-warning {
    margin-top: 20px;
    display: block;
    width: 100%;
    img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
    }
}

.information {
    margin-top: 30px;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #333;
}

.poster {
    img {
        width: 140px;
        height: 210px;
        object-fit: cover;
    }
}

.data {
    width: 100%;
    margin-left: 20px;
    white-space: normal;
    overflow: hidden;
}
.times {
    h1 {
        color: #fff;
        font-size: 3.5rem;
        text-overflow: ellipsis;
        line-height: 32px;
    }
    p {
        font-size: 1.3rem;
        margin-top: 5px;
    }
    div {
        display: flex;
        font-size: 1.3rem;
        margin-top: 5px;

        span {
            margin-right: 15px;
        }

        span:first-child {
            color: rgba(255, 255, 255, 0.28);
        }
    }
}

.reating {
    position: relative;
    display: flex;
    margin-top: 15px;

    h3 {
        background: rgba(255, 255, 255, 0.08);
        color: #fff;
        width: 60px;
        font-size: 3rem;
        height: 45px;
        line-height: 45px;
        text-align: center;
        margin-right: 10px;
    }

    p {
        margin-left: 10px;
        padding: 3px 15px;
        border-radius: 3px;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.2);
        font-size: 1.3rem;
        height: 22px;
        line-height: 15px;
    }
}

.theloai {
    color: #fff;
    margin-top: 10px;
    font-size: 1.5rem;
    display: flex;
    white-space: normal;
    overflow: hidden;

    h5 {
        margin-right: 15px;
    }
}
////tab item btn
.tab-item {
    padding: 20px;
}
.btn button {
    cursor: pointer;
    width: 100px;
    height: 34px;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #171717;
}
.btn button:hover {
    color: #408bea;
}
.tab-item .btn .active {
    background-color: #408bea;
    color: #fff;
}

/////tab content
/// ///thongtin
.tab-content {
    padding: 20px;
    border-bottom: 1px solid #333;
}
.thongtin {
    h4 {
        color: #fff;
        font-size: 1.7rem;
    }
    p {
        font-size: 1.4rem;
        margin-top: 15px;
    }
}

/////daodien
.daodien h4 {
    font-size: 1.6rem;
    color: #fff;
    // margin-bottom: 10px;
}
.person {
    margin: 8px 0;
    display: flex;
    width: calc(100% / 3);

    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    div {
        margin-left: 10px;

        p {
            font-size: 1.3rem;
            margin-top: -3px;
        }
    }
}
.member {
    display: flex;
    flex-wrap: wrap;
}

///share
.share {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #333;
}

.share-number {
    display: flex;
    border-right: solid 2px rgba(255, 255, 255, 0.08);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 26px;

    h4 {
        margin: 0 15px;
        color: #fff;
    }
}

.iconshare {
    margin-left: 15px;
    button {
        width: 30px;
        height: 26px;
        color: #fff;
        cursor: pointer;
        border-radius: 3px;
        font-size: 1.7rem;
        margin-right: 10px;
    }
}
.iconfa {
    background: #4861a3;
}
.icontwi {
    background: #03a9f4;
}
.iconpin {
    background: #ca212a;
}
.iconwhat {
    background: #51ce60;
}

// listcontent
.list-content {
    padding: 20px;
    border-bottom: 1px solid #333;
}

.title {
    margin-bottom: 15px;
}
.title-list {
    font-size: 1.7rem;
    color: #fff;
}

// mobile width < 740px
@media only screen and (max-width: 740px) {
    .information {
        padding: 0;
    }
    .reating {
        display: none;
    }
    .theloai h5 {
        margin-right: 10px;
    }
    .person {
        width: 100%;
    }
}

@media only screen and (min-width: 741px) and (max-width: 1024px) {
    .information {
        padding: 0;
    }
    .reating {
        p {
            display: none;
        }
    }
    .person {
        width: 50%;
    }
}
