.wrapper {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(15, 15, 15, 1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #000;
}
.inner {
    background-color: rgba(15, 15, 15, 0.9);
    height: 100%;
    width: 1200px;
    display: flex;
    position: relative;
}

//logo
.logo {
    background: rgba(255, 255, 255, 0.05);
    float: left;
    padding: 18px 0 0 15px;
    text-align: center;
    height: 100%;
    cursor: pointer;

    img {
        width: auto;
        height: 32px;
    }
}
// menu nav
.btn-menu-xmark-reponsive,
.btn-menu-reponsive {
    display: none;
}
.menu-checknox:checked ~ .nav-main {
    display: block;
}
// .menu-checknox:checked .btn-menu-reponsive {
//     display: none;
// }
// .menu-checknox:checked .btn-menu-xmark-reponsive {
//     display: block;
// }

//nav
.nav-main {
    display: flex;
    height: 100%;
    z-index: 100;
}

.btn-link {
    line-height: 19px;
    font-weight: 400;
    padding: 25px 18px;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: transparent;

    &:hover span {
        color: #408bea;
    }
}
//search
// .btn-search-reponsive,
// .btn-xmark-reponsive {
//     display: none;
// }
// .search-checknox:checked ~ .search {
//     display: block;
// }
// .search-checknox:checked ~ .btn-search-reponsive {
//     display: none;
// }
// .search-checknox:checked ~ .btn-xmark-reponsive {
//     display: block;
// }
// .search,
// .search-result {
//     width: 320px;
// }
// .search-result {
//     margin-top: -9px;
// }

// .search {
//     height: 100%;
//     // padding: 0 15px 0;
//     position: absolute;
//     top: 0;
//     right: 0;
//     line-height: 70px;

//     input {
//         background: rgba(255, 255, 255, 0.1);
//         caret-color: var(--white);
//         width: 100%;
//         height: 40px;
//         color: #fff;
//         font-size: 1.5rem;
//         border-radius: 5px;
//         padding: 0 60px 0 15px;
//     }
// }
// .btn-search,
// .btn-loading {
//     top: 50%;
//     transform: translateY(-50%);
//     position: absolute;
//     width: 44px;
//     height: 40px;
//     right: 15px;
//     background: transparent;
//     color: white;
//     font-size: 1.6rem;
// }

// mobile width < 740px
@media only screen and (max-width: 740px) {
    // // search
    .nav-main {
        display: none;
    }
    // .search-result,
    // .search {
    //     width: 100%;
    // }
    // .search {
    //     display: none;
    //     position: fixed;
    //     margin-top: 70px;
    //     background-color: rgba(15, 15, 15, 0.9);
    //     height: 50px;
    //     padding: 0;
    //     line-height: 50px;
    //     animation: tabletsearchSideIn linear 0.5s;

    //     input {
    //         height: 100%;
    //         padding: 0px 45px 0 20px;
    //     }
    // }

    // @keyframes tabletsearchSideIn {
    //     from {
    //         opacity: 0;
    //         margin-top: 35px;
    //     }
    //     to {
    //         opacity: 1;
    //         margin-top: 70px;
    //     }
    // }

    // .btn-search,
    // .btn-loading {
    //     right: 0px;
    // }

    .inner {
        justify-content: space-around;
    }
    //menu reposive
    .btn-menu-xmark-reponsive,
    .btn-menu-reponsive {
        display: block;
        line-height: 70px;
        font-size: 2.2rem;
        padding: 0 12px;
    }
    .btn-menu-xmark-reponsive {
        display: none;
    }
    // search reponsive
    // .btn-xmark-reponsive,
    // .btn-search-reponsive {
    //     display: block;
    //     font-size: 2.2rem;
    //     background: transparent;
    //     color: #bababa;
    //     padding: 16px 16px;
    // }
    // .btn-xmark-reponsive {
    //     display: none;
    // }

    // menu nav
    .nav-main {
        top: 70px;
        width: 100%;
        background-color: black;
        flex-direction: column;
        position: absolute;
    }
    .btn-link {
        justify-content: normal;
        background-color: rgb(42, 39, 39);
        padding: 10px 18px;
        line-height: normal;
    }
}

// tablet width >= 740px and width < 1024px
@media only screen and (min-width: 741px) and (max-width: 1024px) {
    // // search
    // .search,
    // .search-result {
    //     width: 100%;
    // }
    // .search {
    //     display: none;
    //     position: fixed;
    //     margin-top: 70px;
    //     background-color: rgba(15, 15, 15, 0.9);
    //     width: 100%;
    //     height: 50px;
    //     padding: 0;
    //     line-height: 50px;
    //     animation: tabletsearchSideIn linear 0.5s;

    //     input {
    //         height: 100%;
    //     }
    // }

    // @keyframes tabletsearchSideIn {
    //     from {
    //         opacity: 0;
    //         margin-top: 35px;
    //     }
    //     to {
    //         opacity: 1;
    //         margin-top: 70px;
    //     }
    // }
    .inner {
        justify-content: center;
    }
    .btn-link {
        padding: 25px 15px;
        font-size: 1.5rem;
    }
    // .btn-xmark-reponsive,
    // .btn-search-reponsive {
    //     position: absolute;
    //     display: block;
    //     font-size: 2.2rem;
    //     background: transparent;
    //     color: white;
    //     padding: 16px 16px;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     right: 10px;
    //     cursor: pointer;
    // }
    // .btn-xmark-reponsive {
    //     display: none;
    // }
}
